IRIS FLOWER SPECIES CLASSIFICATION

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("IRIS.csv")
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
data.describe(include="all")

        sepal_length  sepal_width  petal_length  petal_width      species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [7]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [16]:
data["species"].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
encode = LabelEncoder()

In [19]:
data["species"] = encode.fit_transform(data["species"])

In [21]:
data["species"].value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [22]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [24]:
x = data.drop(columns="species",axis=1)
y = data["species"]

In [25]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [26]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [23]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [29]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [32]:
pip_lin = Pipeline([("scaler1",StandardScaler()),("lin_reg",LinearRegression())])
pip_log = Pipeline([("scaler2",StandardScaler()),("log_reg",LogisticRegression())])
pip_rand = Pipeline([("rand",RandomForestClassifier())])
pip_decis = Pipeline([("decis",DecisionTreeClassifier())])
pip_tree = Pipeline([("tree",DecisionTreeClassifier())])
pip_grad = Pipeline([("grad",GradientBoostingClassifier())])

In [34]:
pipelines = [pip_lin,pip_log,pip_rand,pip_decis,pip_tree,pip_grad]
pipelines

[Pipeline(steps=[('scaler1', StandardScaler()), ('lin_reg', LinearRegression())]),
 Pipeline(steps=[('scaler2', StandardScaler()),
                 ('log_reg', LogisticRegression())]),
 Pipeline(steps=[('rand', RandomForestClassifier())]),
 Pipeline(steps=[('decis', DecisionTreeClassifier())]),
 Pipeline(steps=[('tree', DecisionTreeClassifier())]),
 Pipeline(steps=[('grad', GradientBoostingClassifier())])]

In [35]:
for p in pipelines:
    p.fit(x_train,y_train)

In [37]:
for p in pipelines:
    print("score is {}".format(p.score(x_test,y_test)*100))

score is 93.7054401498083
score is 96.66666666666667
score is 96.66666666666667
score is 93.33333333333333
score is 93.33333333333333
score is 93.33333333333333

In [38]:
model = RandomForestClassifier()

In [39]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [40]:
y_pred = model.predict(x_test)

In [42]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)
score

0.9666666666666667

In [46]:
input_data = (6.2,3.4,5.4,2.3)
input_array = np.asarray(input_data)
input_reshaped_data = input_array.reshape(1,-1)

output = model.predict(input_reshaped_data)

if output == 0:
    print("Iris-setosa")
elif output == 1:
    print("Iris-versicolor")
else:
    print("Iris-virginica")

Iris-virginica

C:\Users\tarun\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(